* {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  box-sizing: border-box;
}

body {
  background: salmon;
}

p {
  color: #333;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}